
SmartAd-AB-Testing.knit.md
SmartAd-AB-Testing.aux
SmartAd-AB-Testing.log
SmartAd-AB-Testing.out
SmartAd-AB-Testing.tex
SmartAd-AB-Testing_files/figure-latex/unnamed-chunk-5-1.pdf
SmartAd-AB-Testing_files/figure-latex/unnamed-chunk-6-1.pdf
